<section>
    <ul>
        <li>
            <a href="mailto:{{ site.email }}"><i class="icon-envelope"></i> {{ site.author }}</a>
        </li>
        <li>
            <a href="http://fmagnan.github.io/about"><i class="icon-info-sign"></i> Lead web developer</a>
        </li>
        <li>
            <a href="http://www.lyon.fr" title="Lyon"><i class="icon-map-marker icon-large icon-border"></i></a>
            <a href="https://github.com/{{site.github_user}}" title="GitHub"><i class="icon-github icon-large icon-border"></i></a>
            <a href="http://fr.linkedin.com/pub/franck-magnan/53/b43/38a/" title="Linked in"><i class="icon-linkedin icon-large icon-border"></i></a>
            <a href="{{ site.url }}/atom.xml" title="subscribe feed"><i class="icon-rss icon-large icon-border"></i></a>
        </li>
    </ul>
</section>
