<section>
    <ul id="about">
        <li id="contact"><a href="mailto:{{ site.email }}">{{ site.author }}</a></li>
        <li id="career"><a href="http://fmagnan.github.io/about">Lead web developer</a></li>
        <li id="place">Lyon</li>
        <li id="third-party-services">
            <a href="https://github.com/{{site.github_user}}">{{site.github_user}}</a>
            <a href="http://fr.linkedin.com/pub/franck-magnan/53/b43/38a/">linkedin</a>
            <a href="{{ site.url }}/atom.xml" alt="subscribe feed">
                <img src="{{ root_url }}/images/rss_big.png">
            </a>
        </li>
    </ul>
</section>
